$colorNegro: black;
$colorFondo: #246355;
$BgPrimario: #4a73f8;

header .bgColor .td .gridContacto .contacto .contactoimg {
  color: $colorNegro;
}
.titulo .video h1 .encabezado {
  color: $colorFondo;
}
.recetasTextos {
  color: $colorNegro;
}
